<h1>Flight Booking</h1>

<style>
    .flights-table th, .flights-table td {
        padding: 0 15px;
        text-align: center;
    }
</style> 

<%= form_with url: flights_path, method: :get, local: true do |f| %>
    <div>
        <%= f.label :departure_airport_id, "From:" %>
        <%= f.select :departure_airport_id, @airport_options, 
        { include_blank: "Select departure airport"} %>
    </div><br>

    <div>
        <%= f.label :arrival_airport_id, "To:" %>&emsp;
        <%= f.select :arrival_airport_id, @airport_options, 
        { include_blank: "Select arrival airport"}%>
    </div><br>

    <div>
        <%= f.label :startdatetime, "Date" %>&ensp;
        <%= f.date_field :startdatetime, min: Date.today, max: Date.today + 365.days %>
    </div> <br>

    <div>
        <%= f.label :passengers, "Passengers:" %>
        <%= f.select :passengers, @passenger_options %>
    </div><br>

    <%= f.submit "Search Flights"%>
<% end %>

<% if @flights.any? %>
    <h2>Available Flights</h2>
    <table class="flights-table">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Date & Time</th>
                <th>Duration</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            <% @flights.each do |flight| %>
                <tr>
                    <td><%= flight.departure_airport.airport_code %></td>
                    <td><%= flight.arrival_airport.airport_code %></td>
                    <td><%= flight.startdatetime.strftime("%b %d, %Y at %H:%M")%></td>
                    <td><%= flight.flight_duration %>mins</td>
                    <td><%= radio_button_tag :flight_id, flight.id %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% elsif params[:departure_airport_id].present? || params[:arrival_airport_id].present? || params[:startdatetime].present? %>
    <p>No flights found matching your criteria.</p>
<%end%>