<h1>Book Flight</h1>
<p>
    <strong>Flight Date: </strong><%= @flight.startdatetime.strftime("%b %d, %Y at %H:%M") %><br>
    <strong>From: </strong><%= @flight.departure_airport.airport_code %>
    <strong>To: </strong><%= @flight.arrival_airport.airport_code %>
</p>

<%= form_with model: @booking, url: bookings_path do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>
    <%= f.hidden_field :passenger_count, value: @passenger_count %>

    <h3>Passenger Information</h3>
    <% @booking.passengers.each_with_index do |passenger, i| %>
        <fieldset>
            <legend>Passenger <%= i + 1%></legend>
            <%= f.fields_for :passengers, passenger do |pf| %>
                <div>
                    <%= pf.label :name, "Full Name" %>
                    <%= pf.text_field :name %>
                </div>
                <div>
                    <%= pf.label :email, "Email" %>
                    <%= pf.email_field :email %>
                </div>
            <% end %>
        </fieldset>
    <% end %>

    <%= f.submit "Confirm Booking" %>
<% end %>