<h1>Booking Confirmation</h1>
<style>
    .btn {
        text-decoration: none;
    }
</style>
<p>
    <strong>Flight:</strong>
    <%= @booking.flight.departure_airport.airport_code %> &rarr; <%= @booking.flight.arrival_airport.airport_code %>
    <strong>Date:</strong>
    <%= @booking.flight.startdatetime.strftime("%b %d, %Y at %H:%M") %>
</p>

<h3>Passengers</h3>

<% @booking.passengers.each do |passenger| %>
    <ol>
        <ul>
            <li><strong>Name: </strong> <%= passenger.name %></li>
            <li><strong>Email: </strong> <%= passenger.email %></li>
        </ul>

    </ol>
<% end %>

<button><%= link_to "Back", request.referer || flights_path, class: "btn btn-secondary" %></button>
